* {
  margin: 0;
  padding: 0;

  /* border: red dashed 1px; */
}

body { 
  background-color: rgb(240, 240, 240);
}
/* App */
.woot {
  background-color: rgb(252, 252, 252);
  padding: 0 30px;
}

/* Form */
.createNote {
  padding: 30px 15px;
}

/* Notebook */
.notebook {
  padding: 30px 15px;
}

.note {
  margin: 5px;
}